[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
mido = "*"
python-rtmidi = "*"
pytz = "*"
phue = "*"

[dev-packages]

[requires]
python_version = "3.10"
